:root {
    --soft-gray: #f2f2f2;
    --dark: #333333;
    --grey: #5f6368;
    --link: #70757a;
    --mic: "<svg class="goxjub" focusable="false" viewBox="0 0 24 24" xmlns="http: //www.w3.org/2000/svg"><path fill="#4285f4" d="m12 15c1.66 0 3-1.31 3-2.97v-7.02c0-1.66-1.34-3.01-3-3.01s-3 1.34-3 3.01v7.02c0 1.66 1.34 2.97 3 2.97z"></path><path fill="#34a853" d="m11 18.08h2v3.92h-2z"></path><path fill="#fbbc05" d="m7.05 16.87c-1.27-1.33-2.05-2.83-2.05-4.87h2c0 1.45 0.56 2.42 1.47 3.38v0.32l-1.15 1.18z"></path><path fill="#ea4335" d="m12 16.93a4.97 5.25 0 0 1 -3.54 -1.55l-1.41 1.49c1.26 1.34 3.02 2.13 4.95 2.13 3.87 0 6.99-2.92 6.99-7h-1.99c0 2.92-2.24 4.93-5 4.93z"></path></svg>";
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: var(--link);
    text-decoration: none;
    transition: all 0.15s ease;
}

a:hover {
    text-decoration: underline;
}

main a {
    color: rgb(27, 27, 163);
}

.btn {
    border: 1px solid transparent;
    padding: 0.7rem 1.25rem;
    background-color: var(--soft-gray);
    color: var(--grey);
    border-radius: 0.25rem;
    cursor: pointer;
}

.btn:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
    border-color: rgba(30, 30, 30, 0.1);
}

.fbtn {
    padding: 0.3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.fbtn:hover,
.fbtn:focus,
.fbtn:active {
    background-color: var(--soft-gray);
    text-decoration: none;
}

img {
    width: 100%;
}

.main-wrapper {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: max-content auto max-content max-content;
}

nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

nav ul li a {
    padding: 1rem;
}

header {
    padding: 0.75rem 1.5rem;
    display: flex;
    align-content: center;
    justify-content: flex-end;
    column-gap: 2rem;
}

.profile-icon {
    width: 32px;
    border-radius: 50%;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .brand {
    max-height: 92px;
    width: auto;
    margin-bottom: 2rem;
}

main #buscador {
    display: flex;
    gap: 0.5rem;
    border-radius: 2rem;
    height: 44px;
    padding: 0.5rem;
    border: 1px solid #dadada;
    width: 100%;
    max-width: 520px;
}

main #buscador:hover {
    background-color: #fff;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223, 225, 229, 0);
}

main #buscador label {
    display: flex;
    color: var(--link);
    align-items: center;
}

main #buscador label .material-icons {
    font-size: 1.4rem;
    margin-left: 0.5rem;
}

main #buscador #keywords {
    width: -webkit-fill-available;
    border: none;
    outline: none;
    font-size: 1.15rem;
}

main #buscador .microphone-icon {
    width: 1.85rem;
    display: flex;
}

.buscador-tools {
    margin-top: 2rem;
    letter-spacing: 0.5rem;
}

#credit {
    margin-top: 2rem;
    font-size: 0.9rem;
}

#credit a {
    padding: 0 0.25rem;
}

#prefooter {
    background-color: var(--soft-gray);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(30, 30, 30, 0.1);
    color: var(--link);
}

#prefooter span {
    padding: 0 1rem;
    display: inline-block;
}

footer {
    background-color: var(--soft-gray);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
}